<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Океанариум</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <content>
        <form method="get" th:action="@{/checkFish}">
            <input required name="fishName" placeholder="Какое животное ищите?">
            <button type="submit">Проверить, есть ли рыбка в окенариуме</button>
            <h2 class="fish-found" th:if="${verdict != null && verdict}" th:text="|Рыбка в океанариуме!|"></h2>
            <h2 class="fish-not-found" th:if="${verdict != null && !verdict}" th:text="|Рыбки нет, сорян!|"></h2>
        </form>
    </content>
</body>
</html>